@import url('https://fonts.googleapis.com/css?family=Rasa:300,400,700');

body {
	background-color: #fff;
	color: #555;
	font-family: 'Rasa', serif;
	font-size: 26px;
	margin: 0 auto;
	width: 100%;
	max-width: 992px;
}

.header {
	color: #0366d6;
	font-size: 5rem;
	text-align: center;
	margin-top: 0;
	margin-bottom: 10px;
}

.nav {
	color: #0366d6;
	font-weight: 700;
	list-style-type: none;
	padding-left: 0;
	text-align: center;
}

.nav li {
	display: inline;
	padding-right: 10px;
}

.post-header {
	text-align: center;
}
.post-header h2 {
	font-size: 3rem;
	margin-bottom: 0;
}
.post-header small {
	font-size: 1.5rem;
}

blockquote {
	text-align: center;
	font-style: italic;
}

blockquote p {
	padding-bottom: 0;
	margin-bottom: 0;
}

a {
	color: #0366d6;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.post-list {
	padding-top: 5%;
	text-align: center;
	line-height: 1.5;
}

.post-date {
	color: #bbb;
}

.post-tags {
	color: #aaa;
}

.fa {
	color: #0366d6;
}

footer {
	color: #777;
	margin: 5%;
	text-align: center;
}

.author {
	text-align: right;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;   
}