@import 'https://fonts.googleapis.com/css?family=Rasa';

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	font-family: 'Rasa', serif;
	min-height: 75rem;
	padding-top: 7rem;
}

.navbar-brand {
	font-size: 40px;
	color: #f05858 !important;
}

.navbar-items {
	font-size: 20px;
}

.notice-board-date {
	font-size: 17px;
}

.box {
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border:  5px solid #fff;
	background: #fff;
	margin-bottom: 1rem;
	padding-left: 1rem;
}

.box-item {
	color: #03b7b7;
}

hr {
	width: 50%;
}

.jumbotron {
	padding-top: 20px;
	padding-bottom: 20px;
}

.jumbotron p {
	font-size: 18px;
}

.jumbotron-top {
	background-color: #d9eff7 !important;
}

.jumbotron-bottom {
	background-color:#f9f9f9 !important;
}

.fa-heart {
	color: #fb6699;
}

.sub-header {
	color: #f05858;
}