@import url(https://fonts.googleapis.com/css?family=Hind+Vadodara&subset=gujarati,latin);

*, *:before, *:after {
    box-sizing: border-box;
}

body {
	margin: 0 auto;
	text-align: center;
	font-family: 'Hind Vadodara', sans-serif;
}

h1 a{
	font-size: 2em;
	color: #ff5e01;
}

h1 a:hover {
	color: #b24100;
	text-decoration: none;
}

.tag-line {
	color: #4804DE;
}

nav a {
	padding-right: 20px;
	font-size: 17px;
}

#mat-sec {
	margin-top: 10%;
	margin-bottom: 10%;
}