@import 'https://fonts.googleapis.com/css?family=Rasa';

body {
    font-family: 'Rasa', serif;
    padding-top: 70px;
    font-size: 18px;
}

nav {
    background-color: #fff !important;
}

.navbar-brand {
    font-size: 25px;
	color:#ef3e42 !important;
}

.navbar-brand:hover {
    color: black !important;
}

.symbol {
    font-size: 33px;
    background: black;
    color: white;
    border-radius: 50%;
    text-decoration: none;
    padding-left: 7px;
    padding-right: 7px;
}

.symbol:hover {
    background-color: white;
    color: black;
}

a:hover {
	text-decoration:none;
	border-bottom: 1px dotted #ddd;
}

footer {
	margin-top: 50px;
	color: #727272;
	font-size: 15px;
}

/* Classes - Extras */

.quote {
    margin-top: 5%;
	margin-bottom: 5%;
	color: #d02461;
}

.contributions {
	color: #999;
	font-size: 15px;
	padding-top: 3%;
}

.dates {
	color: #bbb;
	padding-right: 8px;
}

.updates, .highlight {
	color: #ff5722 !important;
}

ul {
	list-style-type: none;
}

.fa-2 {
	font-size: 25px !important;
}